body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
}

.app-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.step {
  text-align: center;
  flex-basis: 33.33%;
}

.step img {
  width: 50px;
  height: 50px;
}

.applicant-details {
  display: flex;
  flex-wrap: wrap;
}

.detail {
  flex-basis: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.detail label {
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
